main {
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


button {
    height: 60px;
    width: 8.57%;
    margin-left: 46%;
    
}

#dealer {
    height: 100px;
    width: 100px;
    background-color: azure;
    /* margin-top: 100px; */
    margin-left: 46%;
    text-align: center;
}
#hand1 {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    /* margin-top: 50px; */
    margin-left: 20%;
    text-align: center;
}
#hand2 {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    /* margin-top: 50px; */
    margin-left: 75%;
    text-align: center;
}
