main {
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav1 {
    background-color: aliceblue;
    margin-bottom: 20px;
}

#nav2 {
    margin: 10px;
}

nav {
    text-align: center;
}

nav > * {
    display: inline-block;
}

button {
    height: 60px;
    width: 8.57%;
}

.handContainer {
    text-align: center;
    /* margin-bottom: 15px; */
}

.hand {
    height: 30px;
    width: 100px;
    text-align: center;
    display: inline-block;
}

#hand2 {
    background-color: aliceblue;
}

#hand1 {
    background-color: cadetblue;
}

.handContainer > .cards > img {
    width: 50px;
    margin: 3px;
}
/* #drawpile {
    
} */